body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
}

#save-btn {
    display: block; 
    width: 100%;
    margin-bottom: 10px; 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #45a049;
}

.delete-all-button {
    margin-right: auto;
    padding-left: 100px;

    color: white;
    right: 50px
}

.memo {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.delete-button,
.edit-button {
    position: absolute;
    top: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button {
    right: 50px; 
    background-color: skyblue;
}

.delete-button {
    right: 5px; 
    background-color: #f44336;
}

.memo span {
    margin-right: 10px; 
}

.memo .text {
    flex-grow: 5; 
    max-width: 400px; /* 텍스트 최대 길이 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 너무 긴 텍스트를 생략 (...) 처리 */
}

.memo .date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 너무 긴 텍스트를 생략 (...) 처리 */
    margin-right: 100px;
}

.memo {
    margin-left: 10px; /* 수정 버튼 간격 수정 */
}

.delete-all-button {
    /* right: 50px;  */
    background-color: red;
    left: 10px ;
    padding: 10px 10px;
    cursor: pointer;
}